#cloud-config
write_files:
  - path: /home/thirstbeast/.zshrc
    owner: thirstbeast:thirstbeast
    permissions: '0644'
    defer: true
    content: |
      plugins=(git zsh-autosuggestions zsh-syntax-highlighting)
      alias update="sudo dnf update && brew update && brew upgrade"
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
      fpath+=("$(brew --prefix)/share/zsh/site-functions")
      source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
      source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
      HISTFILE=~/.zsh_history
      HISTSIZE=10000
      SAVEHIST=10000
      setopt INC_APPEND_HISTORY
      autoload -U promptinit; promptinit
      prompt pure
      fastfetch

runcmd:
  - sudo dnf update -y
  - sudo dnf group install -y 'Development Tools'
  - sudo dnf install -y bubblewrap git python3-pip wget nc vim golang jq
  - su - thirstbeast -c 'NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"'
  - su - thirstbeast -c "/home/linuxbrew/.linuxbrew/bin/brew install -y zsh pure fastfetch zsh-autosuggestions zsh-syntax-highlighting"
  - sudo echo "/home/linuxbrew/.linuxbrew/bin/zsh" >> /etc/shells
  - sudo chsh -s /home/linuxbrew/.linuxbrew/bin/zsh thirstbeast
  - curl -fsSL https://tailscale.com/install.sh | sh
  - ['sh', '-c', "echo 'net.ipv4.ip_forward = 1' | sudo tee -a /etc/sysctl.d/99-tailscale.conf && echo 'net.ipv6.conf.all.forwarding = 1' | sudo tee -a /etc/sysctl.d/99-tailscale.conf && sudo sysctl -p /etc/sysctl.d/99-tailscale.conf" ]
  - tailscale up --ssh --accept-routes --authkey=${tailscale_auth_key} --advertise-exit-node --advertise-routes=10.100.1.0/24
  - tailscale set --relay-server-port=45129